
@font-face {
  font-family: "Outfit-Light";
  src: local("Outfit-Light"),
    url("assets/fonts/Outfit/static/Outfit-Light.ttf") format("truetype");
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
